<div class="nav-area">
  <md-input-container>
    <label>Origin</label>
    <md-select ng-model="$ctrl.originAirport" ng-change="$ctrl.fetchDestination()">
      <md-option ng-value=""><em>None</em></md-option>
      <md-option ng-repeat="airport in ($ctrl.possibleOrigins || $ctrl.allOrigins)" ng-value="airport.code">
        {{airport.name}}
      </md-option>
    </md-select>
  </md-input-container>

  <md-input-container>
    <label>Destination</label>
    <md-select ng-model="$ctrl.destinationAirport" ng-change="$ctrl.fetchOrigin()">
      <md-option ng-value=""><em>None</em></md-option>
      <md-option ng-repeat="airport in ($ctrl.possibleDestinations || $ctrl.allDestinations)" ng-value="airport.code">
        {{airport.name}}
      </md-option>
    </md-select>
  </md-input-container>

  <md-button class="md-raised md-primary"
             ng-click="$ctrl.search()"
             ng-disabled="!$ctrl.originAirport || !$ctrl.destinationAirport"
  >
    Go!
  </md-button>
</div>
