<div class="content">
  <airport-selector
    on-search="$ctrl.searchData($event)">
  </airport-selector>
  <div ng-if="$ctrl.flights">
    <canvas class="chart chart-bar"
      chart-data="[$ctrl.flights.data]"
      chart-series="['Delay']"
      chart-labels="$ctrl.flights.labels"
      chart-options="$ctrl.histogramOptionsDelay">
    </canvas>
  </div>
  <div ng-if="$ctrl.flightsRatio">
    <canvas class="chart chart-bar"
    chart-data="[$ctrl.flightsRatio.data]"
    chart-series="['Delay Ratio']"
    chart-labels="$ctrl.flightsRatio.labels"
    chart-options="$ctrl.histogramOptionsDelayRatio">
    </canvas>
  </div>
</div>
