search-card {
  .content {
    display: flex;
    flex-direction: column;
    transition: all 500ms;
  }
}

canvas {
  width: 500px;
  height: 200px;
  margin-bottom: 30px;
}

h2 {
  text-align: center;
  color: #BBD0E3;
}
