@import "common/common";

$main-color: #3f51b5;

* {
  box-sizing: border-box;
  font-size: 14px;
}

.app {
  height: 100vh;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  height: 10vh;
  transition: all 500ms linear;

  h1 {
    //text-align: center;
    font-size: 3em;
    color: $main-color;
    margin: 0;
  }
}

h2 {
  text-align: center;
  .primary {
    color:  $main-color;
  }
}

.container {
  width: 90vw;
  height: 70vh;
}

