@import "common/common";
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.app {
  height: 100vh;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  height: 10vh;
  transition: all 500ms linear;

  h1 {
    font-weight: bolder;
    color: #888;
    letter-spacing: 2px;
  }
}

h2 {
  text-align: center;
}

.container {
  width: 90vw;
  height: 70vh;
}

