results {
  .header {
    height: 10vh;
    text-align: center;
  }
  .graphs {
    height: 50vh;
    .graph-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  h2 {
    color:  #3f51b5;
    font-size: 2em;
    margin-bottom: -10px;
  }
}
